.events-list.events-list, .single-mc-events {
  li {
    padding: 0;
    clear: both;

    &::before {
      display: none;
    }
  }

  h3 {
    margin: 0;
    line-height: 1.3em;
  }

  p {
    margin-bottom: 0;
    font-size: rem-calc(20px);
  }

  .featured-event {
    background: $color-teal;
    border: 4px solid $color-teal-dark;
    color: $color-white;
    padding: 20px;

    h3 {
      margin: 0;
      font-size: rem-calc(36px);

      a {
        color: $color-white;
      }
    }

    p {
      clear: both;
    }
  }

  time {
    background: $color-purple;
    border: 4px solid $color-purple-dark;
    color: $color-white;
    font-family: $font-serif;
    font-weight: 600;
    font-size: 1.3em;
    line-height: 1.5em;
    padding: 5px 10px;
    float: left;
    margin: 0 20px 20px 0;
    text-align: center;
    letter-spacing: 2px;
    min-width: 4.5em;

    span {
      display: block;
      font-size: 3em;
      padding-bottom: 0.3em;
      letter-spacing: 0;
    }
  }
}
