.page-footer {
  padding: 0;

  @media #{$small-and-down} {
    .line {
      display: none;
    }
  }

  .background-point-left > .row {
    margin-bottom: 0;

    & > .col.col {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  .footer-menu {
    a {
      display: block;
      padding: 5px 0;
    }

    @media #{$small-and-down} {
      column-count: 2;
    }
  }

  a {
    color: $color-white;
    font-weight: normal;
    transition: all 0.3s;

    &:hover, &:active {
      text-decoration-style: double;
      color: lighten($color-teal, 50%);
    }
  }

  h3 {
    margin: 0;
  }

  .widget_nav_menu .menu {
    @extend .social-icons;

    padding: 0;
    text-align: left;

    li {
      padding: 0 6px 0 0;

      a {
        border-color: $color-green-dark;
        background: $color-green-dark;
        transition: background-color 0.3s;

        &:hover, &:active, &:focus {
          border-color: $color-green-dark;
          background: $color-green;
        }
      }
    }
  }

  form {
    max-width: 300px;

    label {
      color: $color-white;
      font-weight: bold;
    }

    input[type="text"] {
      background: $color-white;
      border: 1px solid lighten($color-gray-medium, 20%);
      font-size: 1rem;
      margin: 10px 0 20px;
      padding: 0 30px 0 5px;
      box-sizing: border-box;
      width: 100%;
    }

    input[type="submit"] {
      @extend .btn;

      width: 100%;
    }
  }

  .footer-copyright {
    @media #{$small-and-down} {
      text-align: center;
      font-size: 0.9em;
      line-height: 2em;

      .flex, .copyright, .unity-link {
        display: block;
      }

      .unity-link {
        margin: 5px auto;
      }
    }
  }
}
