.page-footer {
  padding: 0;

  .background-point-left > .row {
    margin-bottom: 0;

    & > .col {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  .footer-menu {
    a {
      display: block;
      padding: 5px 0;
    }
  }

  a {
    color: $color-white;
    font-weight: normal;
    transition: all 0.3s;

    &:hover, &:active {
      text-decoration-style: double;
      color: lighten($color-teal, 50%);
    }
  }

  h3 {
    margin: 0;
  }

  .widget_nav_menu .menu {
    @extend .social-icons;

    padding: 0;
    text-align: left;

    li {
      padding: 0 6px 0 0;

      a {
        border-color: $color-green-dark;
        background: $color-green-dark;
        transition: background-color 0.3s;

        &:hover, &:active, &:focus {
          border-color: $color-green-dark;
          background: $color-green;
        }
      }
    }
  }
}
