.banner {
  nav {
    background: none;
    color: $color-black;
    height: auto;

    & > .container > .row {
      &::after {
        display: none;
      }

      @media #{$small-and-down} {
        flex-wrap: nowrap;
      }
    }
  }

  .logo {
    max-width: 481px;
    padding: 10px 20px;

    img {
      width: 100%;
      height: auto;
      display: inline-block;
    }

    @media #{$small-and-down} {
      padding-left: 0;
    }
  }

  .utility {
    padding: 10px 20px;
    text-align: right;

    @media #{$small-and-down} {
      padding: 10px 0;
    }
  }

  .navbar {
    background: $color-teal-dark;
    margin-bottom: 0;
  }

  .menu-trigger {
    text-decoration: none;
    height: 50px;
    width: 50px;
    text-align: center;
    color: $color-black;

    i {
      font-size: 2em;
    }
  }
}

.navbar-menu {
  li {
    &.current-page-ancestor, &.current-menu-item, &.active {
      background: $color-teal;
    }

    &:hover, &:focus, &.hover {
      background: $color-teal;

      & > a {
        text-decoration: underline;
      }
    }
  }
}
