.home {
  h1 {
    margin: 0;
    max-width: 6em;
  }

  h2 {
    margin-top: 0;
  }

  .entry-title {
    font-size: rem-calc(24px);
    margin-bottom: 1em;
    margin-top: 0;
  }

  section.col {
    padding-top: 30px;
  }
}

.sa-tools {
  position: relative;
  z-index: 1;

  h2 {
    color: $color-teal-dark;
  }

  .col {
    background: $color-white;
    border: 4px solid $color-teal-dark;
    padding: 1.5em 3em;
    margin-top: -50px;
    margin-bottom: -50px;

    @extend .z-depth-2;
  }

  select, input {
    margin: 15px 0;
  }

  html[data-contrast="true"] & {
    h2 {
      color: $color-white;
    }

    .col {
      background: $color-black;
      border-color: $color-white;
    }
  }
}

.work-tile {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @extend .z-depth-1;

  a {
    display: block;
    padding: 100px 10px 10px;
    text-align: center;
    font-size: 1.2em;
    color: $color-white;
    letter-spacing: 0.5px;
    position: relative;
    text-shadow: 0 0 15px $color-black;

    span {
      position: relative;
      font-family: $font-serif;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: $color-black-trans-50;
      transition: all 0.3s ease;
    }

    &:hover, &:focus, &:active {
      color: $color-white !important;

      &::before {
        background: $color-black-trans-70;
      }
    }
  }

  &:hover, &:focus, &:active {
    @extend .z-depth-3;
  }
}

ul.social-names {
  padding-bottom: 1em;
  border-bottom: 1px solid $color-gray-medium;

  li {
    display: inline-block;
    padding-left: 40px !important;
    padding-right: 20px;

    &::before {
      content: '' !important;
      position: absolute;
      left: 0 !important;
      top: 0;
      width: 30px;
      height: 30px;
      border: 5px solid $color-teal-dark;
      background-color: $color-teal-dark;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      transition: all 0.3s;
    }

    &.icon-facebook::before {
      background-image: url('../images/icon-facebook.svg');
    }

    &.icon-linkedin::before {
      background-image: url('../images/icon-linkedin.svg');
    }

    &.icon-twitter::before {
      background-image: url('../images/icon-twitter.svg');
    }
  }

  a {
    display: block;
    position: relative;
    font-family: $font-serif;
    font-size: 1.2em;

    &:hover, &:focus, &:active {
      color: $color-green;
    }
  }
}

.fb_iframe_widget {
  width: 100%;
}
