.home {
  h1, h2 {
    margin: 0;
  }
}

.work-tile {
  position: relative;

  @extend .z-depth-1;

  a {
    display: block;
    padding: 100px 10px 10px;
    text-align: center;
    color: $color-white;
    letter-spacing: 0.5px;
    position: relative;
    text-shadow: 0 0 15px $color-black;

    span {
      position: relative;
      font-family: $font-serif;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: $color-black-trans-50;
      transition: all 0.3s ease;
    }

    &:hover, &:focus, &:active {
      &::before {
        background: $color-black-trans-70;
      }
    }
  }

  &:hover, &:focus, &:active {
    @extend .z-depth-3;
  }
}
