.resource, .excerpt {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid $color-gray-medium;

  h3 {
    margin-bottom: 1em;
    margin-top: 0;
  }

  &.has-post-thumbnail {
    img {
      width: 100%;
    }
  }
}

.hentry {
  .meta {
    margin: 1em 0;
  }
}

.single-post {
  figure.post-thumbnail {
    background: $color-gray-light;
    padding: 10px;
    margin: 0 1em 1em 0;
    float: left;
    max-width: 50%;

    img {
      width: 100%;
    }

    @media #{$xsmall-and-down} {
      max-width: 100%;
    }
  }

  .thumb-caption {
    font-size: 0.85em;
    background: $color-gray-light;
    padding-top: 10px;
  }
}
