.resource, .excerpt {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid $color-gray-medium;

  h3 {
    margin-bottom: 1em;
    margin-top: 0;
  }
}

.hentry {
  .meta {
    margin: 1em 0;
  }
}
