.a11y-tools {
  fieldset {
    border: none;
    padding: 0;
    margin: 0;

    legend, & > div {
      display: block;
      float: left;
      padding: 0 3px;
    }

    legend {
      width: 65px;
      font-size: 12px;
      padding-top: 8px;
    }

    label {
      display: block;
      text-indent: -100em;
      overflow: hidden;
      width: 50px;
      height: 50px;
      position: relative;
      background: $color-gray-light;
      transition: background 0.3s ease;

      &::after {
        position: absolute;
        left: 0;
        width: 100%;
      }

      &:hover, &:focus {
        background: $color-gray-medium;

        &::after {
          color: $color-white;
        }
      }
    }

    &.toggle-contrast {
      label {
        &::after {
          content: '';
          top: 0;
          height: 100%;
          background: url('../images/icon-contrast.svg') no-repeat 50% 50%;
        }
      }
    }

    &.text-size {
      label {
        &::after {
          content: 'A';
          top: 50%;
          transform: translateY(-50%);
          color: $color-black;
          text-indent: 0;
          text-align: center;
          transition: color 0.3s ease;
        }
      }

      div[class*="default-"] label::after {
        font-size: 18px;
      }

      div[class*="medium-"] label::after {
        font-size: 24px;
      }

      div[class*="large-"] label::after {
        font-size: 27px;
      }
    }

    input[type="radio"]:checked + label {
      background: $color-green-dark;

      &::after {
        color: $color-white;
      }
    }

    input[type="checkbox"]:checked + label {
      background: $color-green-dark;

      &::after {
        background-image: url('../images/icon-contrast-inverse.svg');
      }
    }
  }

  // TEMP: Hide form; TODO: Style form;
  form {
    display: none;
  }
}
