.background-point-left {
  & > .row {
    & > .col:nth-child(1), & > .col.flex-order-m1.flex-order-m1 {
      position: relative;

      &::before, &::after {
        content: '';
        position: absolute;
        display: block;
      }

      @media #{$small-and-down} {
        padding: 4em 3rem calc(20vw + 2em) 3rem;

        &::before, &::after {
          bottom: 0;
          width: 50%;
          height: 20vw;
        }

        &::before {
          left: 0;
        }

        &::after {
          right: 0;
        }
      }
      @media #{$medium-and-up} {
        padding: 100px 150px 100px 7.5%;

        &::before, &::after {
          right: 0;
          width: 100px;
          height: 50%;
        }

        &::before {
          top: 0;
        }

        &::after {
          bottom: 0;
        }
      }
    }

    & > .col:nth-child(2) {
      @media #{$small-and-down} {
        padding: 0 10% 4em 10%;
      }
      @media #{$medium-and-up} {
        padding: 100px 7.5% 100px 0;
      }
    }
  }

  &.background-order-swap {
    & > .row > .col.flex-order-m1 {
      @media #{$small-and-down} {
        padding: 0 1.5em 1em 1.5em;
      }
      @media #{$medium-and-up} {
        padding: 100px 150px 100px 7.5%;
      }
    }

    & > .row > .col.flex-order-m2 {
      @media #{$small-and-down} {
        padding: 2em 1.5em calc(20vw + 2em) 1.5em;
      }
      @media #{$medium-and-up} {
        padding: 100px 7.5% 100px 0;
      }
    }
  }
}

.background-point-right {
  & > .row {
    & > .col:nth-child(1) {
      @media #{$small-and-down} {
        padding: 4em 10% 0 10%;
      }
      @media #{$medium-and-up} {
        padding: 100px 0 100px 7.5%;
      }
    }

    & > .col:nth-child(2) {
      position: relative;

      &::before, &::after {
        content: '';
        position: absolute;
        display: block;
      }

      @media #{$small-and-down} {
        padding: calc(20vw + 2em) 10% 4em 10%;

        &::before, &::after {
          top: 0;
          width: 50%;
          height: 20vw;
        }

        &::before {
          left: 0;
        }

        &::after {
          right: 0;
        }
      }
      @media #{$medium-and-up} {
        padding: 100px 7.5% 100px 150px;

        &::before, &::after {
          left: 0;
          width: 100px;
          height: 50%;
        }

        &::before {
          top: 0;
        }

        &::after {
          bottom: 0;
        }
      }
    }
  }
}

$colors: purple, green, teal;
$creg: $color-purple, $color-green, $color-teal;
$cdark: $color-purple-dark, $color-green-dark, $color-teal-dark;

@each $c in $colors {
  $i: index($colors, $c);

  .background-#{$c} {
    background: nth($creg, $i);
    color: $color-white;
    position: relative;

    & > .row {
      display: flex;

      @media #{$small-and-down} {
        flex-direction: column;
      }
    }

    h1, h2, h3 {
      color: $color-white;
    }

    &.background-point-left {
      & > .row > .col:nth-child(1)::before {
        @include triangle('bottom right', nth($cdark, $i));
      }

      & > .row > .col:nth-child(1)::after {
        @media #{$small-and-down} {
          @include triangle('bottom left', nth($cdark, $i));
        }
        @media #{$medium-and-up} {
          @include triangle('top right', nth($cdark, $i));
        }
      }

      & > .row > .col:nth-child(2) {
        background: nth($cdark, $i);
      }
    }

    &.background-point-right {
      & > .row > .col:nth-child(2)::before {
        @media #{$small-and-down} {
          @include triangle('top right', nth($cdark, $i));
        }
        @media #{$medium-and-up} {
          @include triangle('bottom left', nth($cdark, $i));
        }
      }

      & > .row > .col:nth-child(2)::after {
        @include triangle('top left', nth($cdark, $i));
      }

      & > .row > .col:nth-child(1) {
        background: nth($cdark, $i);
      }
    }

    &.background-order-swap {
      & > .row > .col.flex-order-m1 {
        background: transparent;

        @media #{$small-and-down} {
          &::before, &::after {
            display: none;
          }
        }
        @media #{$medium-and-up} {
          order: 1;

          &::before {
            @include triangle('bottom right', nth($cdark, $i));
          }

          &::after {
            @include triangle('top right', nth($cdark, $i));
          }
        }
      }

      & > .row > .col.flex-order-m2 {
        background: nth($cdark, $i);

        @media #{$small-and-down} {
          &::before {
            @include triangle('bottom left', nth($creg, $i));
          }

          &::after {
            @include triangle('bottom right', nth($creg, $i));
          }
        }
        @media #{$medium-and-up} {
          order: 2;

          &::before, &::after {
            display: none;
          }
        }
      }
    }

    html[data-contrast="true"] & {
      background: $color-black;
      border-bottom: 1px solid $color-white;
      border-top: 1px solid $color-white;

      &.background-point-right, &.background-point-left, &.background-order-swap {
        & > .row > .col.col::before, & > .row > .col.col::after {
          display: none;
        }

        & > .row > .col.col {
          background: $color-black;
        }
      }
    }
  }
}
