.btn.btn {
  border: 4px solid $color-purple-dark;
  color: $color-white;
  font-family: $font-serif;
  font-weight: normal;
  text-transform: none;
  line-height: 1.8em;
  text-decoration: none;

  &:hover, &:focus, &:active {
    background: lighten($color-purple, 10%);
    color: $color-white;

    @extend .z-depth-4;
  }

  &.disabled {
    background: $color-gray-light;
    border-color: $color-gray-medium;
    color: $color-gray-medium !important;
    pointer-events: all;
  }
}

.btn-lg {
  display: block;
  padding: 1rem;
  height: auto;
}

.btn-teal.btn-teal {
  background: $color-teal;
  border-color: $color-teal-dark;

  &:hover, &:focus, &:active {
    background: lighten($color-teal, 10%);
  }
}

.btn-green.btn-green {
  background: $color-green;
  border-color: $color-green-dark;

  &:hover, &:focus, &:active {
    background: lighten($color-green, 10%);
  }
}
