/** Search form */
.search-form {
  height: auto;
  clear: both;
  line-height: 2.2rem;
  position: relative;
  margin: 0;
  display: flex;
  align-items: flex-end;

  &::after {
    content: '';
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url('../images/icon-search.svg');
    pointer-events: none;

    html[data-contrast="true"] & {
      background-image: url('../images/icon-search-white.svg');
    }
  }

  label {
    float: left;
    width: calc(100% - 50px);
  }

  input.search-field {
    height: 50px;
    margin: 0;
    padding: 0 10px;
    border: 0 !important;
    border-radius: 0;
    box-sizing: border-box;
    background: $color-gray-light;

    &::placeholder {
      color: $color-gray-dark;
    }

    html[data-contrast="true"] & {
      color: $color-white;
      background: $color-gray-dark;
      border: 1px solid $color-white;
    }
  }

  input.search-submit {
    display: block;
    height: 50px;
    width: 50px;
    color: $color-gray-light;
    text-indent: -100em;
    overflow: hidden;
    border: none;
    background: $color-gray-light;
    cursor: pointer;

    html[data-contrast="true"] & {
      background: $color-black;
      color: $color-white;
      border: 1px solid $color-white;
    }
  }
}

select {
  display: block;
  border: 1px solid lighten($color-gray-medium, 20%);
  border-radius: 0;

  &.default, option[value=""] {
    color: $color-gray-medium;
  }
}

label {
  color: $color-black;
  font-size: 1rem;
}

input[type="text"], input[type="number"], input[type="tel"], input[type="email"], input[type="date"], input[type="password"] {
  &.facetwp-search, &.wpcf7-form-control, &.input {
    background: $color-white;
    border: 1px solid lighten($color-gray-medium, 20%);
    font-size: 1rem;
    margin: 0;
    padding: 0 30px 0 5px;
    box-sizing: border-box;

    &::placeholder {
      color: $color-gray-medium;
    }

    .home & {
      border-radius: 5px;
    }
  }
}

input[type=password][name="post_password"] {
  border: 1px solid lighten($color-gray-medium, 20%);
}

label[for*="pwbox"] {
  & + input[type="submit"] {
    @extend .btn;
  }
}

form[id="loginform"] {
  label {
    font-weight: bold;
  }

  .login-remember {
    label {
      font-weight: normal;
    }

    input[type="checkbox"] {
      position: relative;
      opacity: 1;
      pointer-events: all;
    }
  }

  .login-submit {
    input[type="submit"] {
      @extend .btn;
    }
  }
}

input[type="radio"], input[type="checkbox"] {
  &:focus + .wpcf7-list-item-label {
    outline: 1px dotted $color-gray-medium;
  }
}

.wpcf7-not-valid, input.error {
  border: 2px solid $error-color !important;
  background-color: lighten($error-color, 60%) !important;
}

.wpcf7-not-valid-tip, .wpcf7-validation-errors {
  color: $error-color;
}

.wpcf7-list-item {
  display: block;
  margin-bottom: 0.8em;

  .wpcf7-list-item-label {
    height: auto !important;
  }
}

.form-step {
  position: relative;

  &.hidden {
    display: none;
  }
}

.form-section {
  position: relative;
  margin-bottom: 20px;
  border: 1px solid $color-gray-dark;

  & > legend {
    font-family: $font-serif;
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: 0.5em;
  }

  &.hidden {
    display: none;
  }
}

.form-row {
  position: relative;
  margin: 0 0 rem-calc(20px);
  // border: 1px solid $navy;
  // background: white;
  // padding: 20px;
}

// AJAX loading spinner
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  position: relative;
  display: inline-block;
  vertical-align: text-top;
  margin: 0 30px;

  &::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 10px solid $color-green;
    border-top-color: $color-green-dark;
    animation: spinner 0.6s linear infinite;
  }
}

// Form Progress
ol.form-progress {
  list-style: none;
  display: table;
  margin: 1.5rem 0;
  table-layout: fixed;
  width: 100%;
  padding: 0;
  counter-reset: progressStep;

  &:focus {
    outline: 0;

    li[data-step-current] {
      outline: $color-gray-dark dotted 1px;
    }
  }

  @media #{$small-and-down} {
    padding: 0;
  }

  li {
    text-align: center;
    display: table-cell;
    list-style: none;
    line-height: 1.2em;
    margin: 0;
    padding: 2rem 0 0;
    position: relative;
    width: 100%;
    counter-increment: progressStep;

    &::before, &::after {
      background: $color-teal;
      color: $color-white;
      display: block;
      position: absolute;
    }

    &::before {
      content: counter(progressStep);
      border-radius: 3px;
      font-weight: bold;
      height: 1.5rem;
      left: 50%;
      margin-left: -0.75rem;
      line-height: 1.5rem;
      padding-left: 0.1rem;
      top: 0;
      transform: scale(1, 1);
      width: 1.5rem;
      z-index: 1;
    }

    &::after {
      content: '';
      height: 0.25rem;
      left: -50%;
      top: 0.65rem;
      width: 100%;
    }

    &[data-step-current] {
      color: $color-purple-dark;
      font-weight: bold;

      &::before, &::after {
        background: $color-purple-dark;
        color: $color-white;
      }
    }

    &[data-step-complete] {
      cursor: pointer;

      &::before, &::after {
        background: $color-purple;
        color: $color-white;
      }
    }

    &:first-child::after {
      display: none;
    }
  }
}

.vr-signup-form {
  max-width: 300px;

  @media #{$small-and-down} {
    margin: 0 auto 60px;
  }

  label {
    font-weight: bold;
  }

  input[type="text"], input[type="email"] {
    background: $color-white;
    border: 1px solid lighten($color-gray-medium, 20%);
    font-size: 1rem;
    margin: 10px 0 20px;
    padding: 0 30px 0 5px;
    box-sizing: border-box;
    width: 100%;

    html[data-contrast="true"] & {
      background: $color-black;
      border: 1px solid $color-white;
      color: $color-white;
    }
  }

  input[type="submit"] {
    @extend .btn;

    width: 100%;
  }
}
