.main {
  table {
    th[scope="row"] {
      white-space: nowrap;
      vertical-align: top;
    }

    td {
      vertical-align: top;

      ul:first-child, p:first-child {
        margin-top: 0;
      }
    }
  }
}
