html {
  font-size: 18px;

  &[data-text-size="medium"] {
    font-size: 20px;
  }

  &[data-text-size="large"] {
    font-size: 24px;
  }
}

* {
  box-sizing: border-box;
  font-family: $font-sans;
}

.container {
  @media #{$medium-and-up} {
    width: 90%;
  }
  @media #{$large-and-up} {
    width: 85%;
  }
}

.flex {
  display: flex;
}

.flex-center {
  align-items: center;
}

.flex-end {
  justify-content: flex-end;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;

  .flex-item {
    padding: 10px;
  }

  &.m2x {
    @media #{$medium-and-up} {
      .flex-item {
        width: 50%;
      }
    }
  }
}

.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.mega-link.mega-link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}

strong {
  font-weight: 700;
}

img {
  max-width: 100%;
}

@mixin cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
