h1, .h1 {
  font-family: $font-serif;
  font-size: rem-calc(45px);
  color: $color-teal-dark;

  .home & {
    font-size: rem-calc(65px);
  }
}

h2, .h2 {
  font-family: $font-serif;
  font-size: rem-calc(36px);
  color: $color-purple;

  .home & {
    font-size: rem-calc(45px);
  }
}

h3, .h3 {
  font-family: $font-serif;
  font-size: rem-calc(24px);
  color: $color-teal-dark;
}

.main {
  p, li, dt, dd {
    line-height: 1.8em;
  }

  a:not(.btn) {
    text-decoration: underline;
    font-weight: bold;
    transition: all 0.3s;

    &:hover, &:active {
      text-decoration-style: double;
      color: $color-green;

      html[data-contrast="true"] & {
        color: $color-white;
      }
    }
  }

  dt {
    font-weight: bold;
  }

  dd {
    margin-bottom: 1em;
  }

  ul {
    li {
      list-style: none;
      position: relative;
      padding-left: 30px;

      &::before {
        content: '\2022';
        color: $color-purple;
        position: absolute;
        left: 10px;
        speak: none;

        html[data-contrast="true"] & {
          color: $color-white;
        }
      }
    }
  }
}

blockquote {
  html[data-contrast="true"] & {
    border-color: $color-gray-light;
  }
}

.label {
  font-family: $font-serif;
}

strong {
  font-weight: 700;
}
